/* Carrito */

#cart-content {
	padding: 15px 0;
	.pprice {
		width: 40px;
	}
}

#carrito {
	.cart-block {
	    background-color: var(--blanco);
	    margin-top: 20px;
	    padding: 10px;
	    box-shadow: 0 3px 8px 2px #c7c7c7;
	}

	.qty-selector {
	    background-color: var(--grisclaro) !important;
	}

	.qty.input-number {
	    background-color: var(--grisclaro);
	    color: #222;
	}

	.pprice.red {
	    font-size: 1.7em;
	    font-weight: 800;
	}

	.pname {
	    font-weight: 800;
	    font-size: 1.4em;
	    line-height: 1.4em;
	    margin-bottom: 5px;
	    padding-right: 20px;
	}

	.pdelete {
    position: absolute;
    right: 10px;
    top: 0;
    height: 44px;
    width: 44px;
		padding: 0;
		margin: 0;
    color: var(--gris);
    border: none;
    background-color: transparent;
		&:hover {
			color: var(--negro);
			text-decoration: none;
		}
	}

	.cart-block {
	    position: relative;
	}

	#cart-content .pprice {
	    width: 100%;
	}

	.cart-block img {
	    display: block;
	    background-color: var(--grisclaro);
	    padding: 8px 11px;
	    box-sizing: border-box;
	    height: 137px;
	}
}