/* Entrega */

.pasos {
    background-color: var(--blanco);
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border: 1px solid var(--grispasos);
    padding: 0px;
    &.active,
    &.completed {
        
        span {
            opacity: 1;
        }
        &::after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            background-color: var(--rojo);
            border: 1px solid var(--rojo);
            margin: 6px;
            display: block;
            border-radius: 50%;
        }
    }
    &.active {
        border-color:var(--rojo);
        &::after {
            background-color: var(--rojo);
            border: 1px solid var(--rojo);
        }
    }
    &.completed {
        &::after {
            background-color: var(--grispasos);
            border: 1px solid var(--grispasos);
        }
    }
    
    span {
        font-size: 1em;
        margin-top: 7px;
        color: #000;
        opacity: 0.6;
    }
}

#pasos {
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0;
    position: relative;
    .linea {
        border: 1px solid #DDDDDD;
        height: 2px;
        position: absolute;
        left: 16%;
        right: 16%;
        top: 25%;
    }
}

.entrega {
    .main-container {
        background-color: #FCFCFC;
    }

    .row.bg-white {
        box-shadow: 0 5px 5px #f0eeee;
    }

    a { 
        .cards {
            background-color: transparent;
            h3 {
                color: #091337;
                font-size: 1.2em;
                font-weight: 600;
                margin-bottom: 2px;
                span {
                    font-weight: normal;
                }           
            }
            span.card-title {
                color: #091337;
            }     
            .col-2, .col-1 {
                display: -webkit-box;
                display: flex;
                -webkit-box-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                        justify-content: center;
            }
            .gray {
                width: 23px;
                height: 23px;
                text-align: center;
                border-radius: 50%;
                background-color: #E1E3E6;
                padding: 1px;
            }
            .row.no-gutters {
                border-bottom: 1px solid #c9c9c9;
            }
            .card-body {
                padding: 0.8rem 1.2rem;
            }
        }
        .card-text {
            font-size: 1.1em;
            color: #636A7E;
        }
        &:hover {
            .gray {
                background-color: var(--rojo);
                .fas {
                    color: var(--blanco);
                }
            }
        }
    }
}

.payment-icon {
    color: var(--negro);
    font-size: 2em;
}

.qr {
    h3 {
        font-size: 1.4em;
        font-weight: 800;
        margin: 16px 0px 6px;
    }
}

.codigo-container {
    p {
        margin: 0 3% 3%;
        font-size: 1em;
    }

    img {
        width: 50%;
    }
}

.btn-agregar-tarjeta {
    line-height: 2em;
    margin-top: 1.6rem;
    position: absolute;
    bottom: 90px;
    left: 15px;
    right: 15px;
    width: calc(100% - 30px);
}

.agregar_tarjeta {
    form {
        margin: 25px 0;
    }

    form label {
        text-transform: uppercase;
        color: #636A7E;
        margin-bottom: 0;
    }

    .main-container {
        background-color: var(--blanco);
    }

    .form-control {
        border: 0;
        border-bottom: 1px solid #c5c5c5;
        border-radius: 0;
        box-shadow: none;
    }
}

.entrega.confirmar_pago {
    .cards h3 {
        color: var(--rojo);
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1em;
    }

    p.card-text {
        font-weight: 600;
        color: #434343;
    }
}

.confirmar_pago, .micompra, .agregar_tarjeta {
    .pre-footer {
        position: absolute;
        bottom: 70px;
        left: 0;
        right: 0;
        background-color: var(--blanco);
        width: 100%;
        padding: 10px 0;

        h4 {
            font-size: 1.2em;
            margin-bottom: 2px;
        }

        .precio_final {
            display: block;
            font-size: 1.4em;
        }
        .ahorro {
            font-size: 1.1em;
            color: var(--rojo);
        }

        .precio {
            background: url('../images/discount.svg') no-repeat 50px center;
            padding-right: 23px;
        }
    }
}