/* Onboarding */

.onboarding {
    .notifications {
        display: none;
    }
    h2 {
        font-weight: 700;
    }
    p {
        margin: 0 20px;
    }
    img {
        margin-bottom: 15px;
        max-height: calc(var(--vh, 1vh) * 35);
    }
    ol {
        padding: 0;
        li {
            display: inline-block;
            a {
                color: var(--gris);
                display: inline-block;
                padding: 8px;
                &:hover {
                    color: var(--grisoscuro);
                }
                &[aria-current="step"] {
                    color: var(--rojo);
                }
                i {
                    padding: 15px;
                }
            }
            
        }
    }
    .btn-bottom-fix {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 0;
        line-height: 44px;
    }
}